header {
    background-color: #AEDCC0;
}
main {
    background-color: #477998;
}
section {
    background-color: #138A36;
}
figure {
    background-color: #285238;
}
footer {
    background-color: #FFB627;
}